<%= form_for @track_price, :url =>  {:action => "index", :id => @track_price.id} do |f| %>
		
	<fieldset>
		<legend><%= t :ViewPrice %></legend>
		<%= f.hidden_field :fk_client_id %>
		<%= f.hidden_field :android_product_id %>
		<%= f.hidden_field :android_price %>
		
		<label><%= t :ProductID %>: </label>
		<%= f.text_field :ios_product_id, :class => "narrow", :style => "width:5% !important;", :disabled => true  %>
		<br />
			
		<label><%= t :Price %>: </label>
		<%= f.text_field :ios_price, :value => "$#{@track_price.ios_price}", :class => "narrow", :style => "width:5% !important;", :disabled => true  %>		
		<br />
				
		<label><%= t :Description %>: </label>
		<%= f.text_area :description, :class => "narrow", :style => "width:30% !important;", :disabled => true, :rows => 3  %>
		<br />
		
		<label><%= t :TrackLastMod %>: </label>
		<%= f.text_field :last_updated_at, :value => "#{@track_price.last_updated_at.strftime("%m-%d-%Y %H:%M:%S")}", :class => "narrow", :style => "", :disabled => true  %>
		<br />		
				
		<label ></label>	
		<a href="<%= url_for :action => "edit", :id => @track_price.id %>" tooltip="<%= t :Edit %>" >
			<input class="green proccessing" type="button" value="<%= t :Edit %>" id="edit_price" tabindex="5" />
		</a>
			  
		<a href="<%= url_for :action => "delete", :id => @track_price.id %>" tooltip="<%= t :Delete %>" >
			<input   class="gray proccessing" type="button" value="<%= t :Delete %>" id="delete_price" tabindex="5" />
		</a>
		
		<a href="<%= url_for :action => "index" %>" tooltip="<%= t :Index %>" >
			<input   class="red proccessing" type="button" value="<%= t :Cancel %>" id="cancel_price" tabindex="5" />
		</a>
		
	</fieldset>

<% end %>


<script type="text/javascript">
$(document).ready(function() {	
  
   $(".proccessing").click(function(){	
	  	$("#middlepart").mask("Processing...");	
	  });
	  
	$('#delete_price').click(function(){
		if(confirm("Are you sure to delete track price?"))
		{
			return true;
		}
		else
		{
			$("#middlepart").unmask();	
			return false;
		}
	});
	
	 
});
</script>