<%= javascript_include_tag "jquery.MultiFile.js" %>
	
<style>
.edit_extra_image, .edit_info_image{
background-color: #808080;
    float: left;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.remove_track_image, .edit_info_image{
	cursor: pointer;
}

.MultiFile-list{ 
		padding-bottom: 2px;
		padding-left: 160px;
		padding-right: 0;
		padding-top: 5px;}
		
		.MultiFile-label{
			padding-top: 5px;
		}
	
	
</style>

<%= form_for @client_track, :url =>  {:action => "index", :id => @client_track.id} do |f| %>
		
	<fieldset>
		<legend><%= t :ViewTrack %></legend>
		
		<label><%= t :TrackDisplayID %>: </label>
		<%= f.text_field :display_id, :class => "narrow", :style => "width:5% !important;", :disabled => true  %>
		<br />
			
		<label><%= t :TrackName %>: </label>
		<%= f.text_field :track_name, :class => "narrow", :style => "width:30% !important;", :disabled => true  %>		
		<br />
		
		<label><%= t :Price %>: </label>
		<%= f.text_field :ios_price, :value => "$#{@client_track.ios_price} (#{@client_track.ios_product_id})",  :class => "narrow", :style => "margin-top:5px;", :disabled => true  %>
		<br />
		
		<label><%= t :TrackTip %>: </label>
		<%= f.text_area :track_tip, :class => "narrow", :style => "width:30% !important;", :disabled => true, :rows => 5  %>
		<br />
		
		<label><%= t :Description %>: </label>
		<%= f.text_area :description, :class => "narrow", :style => "width:30% !important;", :disabled => true, :rows => 5 %>
		<br />
		
		<label><%= t :NumberOfTurns %>: </label>
		<%= f.text_field :no_turns, :class => "narrow", :style => "width:5% !important;", :disabled => true  %>
		<br />
		
		<label><%= t :TrackLastMod %>: </label>
		<%= f.text_field :last_updated_at, :value => "#{@client_track.last_updated_at.strftime("%m-%d-%Y %H:%M:%S")}",  :class => "narrow", :style => "width:30% !important;", :disabled => true  %>
		<br />		
		
		<label><%= t :TrackImage %>: </label>		
		<a href="<%= Protrack::Configuration['image_server_ip'] + "" + @client_track.track_image %>" target="_blank" tooltip="<%= t :TrackImage %>" >
			<img src="<%= Protrack::Configuration['image_server_ip'] + "" + @client_track.track_image %>" width="80" height="80" alt="<%= t :TrackImage %>"  style="margin-top:5px;" />
		</a>
		<br />
		
		
		<label><%= t :ExtraImage %>: </label>
		<div>
			<% if @client_track_image.empty? == false %> 
				<% @client_track_image.each do |client_track_image| %> 
					<div class="edit_extra_image" id="div_remove_track_image_<%= client_track_image.id %>">
						<a href="<%= Protrack::Configuration['image_server_ip'] + "" + client_track_image.track_image %>" target="_blank" tooltip="<%= t :ExtraImage %>" >
							<img src="<%= Protrack::Configuration['image_server_ip'] + "" + client_track_image.track_image %>" width="80" height="80" alt="<%= t :ExtraImage %>" />
						</a>
					</div>
				<% end %>
			<% end %>
		</div>		
		<br style="clear:both;" />
		
		<br style="clear:both;" />
		<label><%= t :TrackInfoImage %>: </label>
		<a href="<%= Protrack::Configuration['image_server_ip'] + "" + @client_track.track_info_image %>" target="_blank" tooltip="<%= t :TrackInfoImage %>" >
			<img src="<%= Protrack::Configuration['image_server_ip'] + "" + @client_track.track_info_image %>" width="80" height="80" alt="<%= t :TrackInfoImage %>" />
		</a>
		<br style="clear:both;" />
		
		<label><%= t :TrackOverviewPageImage %>: </label>
		<div>
			<% if @client_track_info_image.empty? == false %> 
				<% @client_track_info_image.each do |client_track_info_image| %> 
					<div class="edit_info_image" id="div_remove_track_info_image_<%= client_track_info_image.id %>">
						<a href="<%= Protrack::Configuration['image_server_ip'] + "" + client_track_info_image.track_image %>" target="_blank" tooltip="<%= t :TrackInfoImage %>" >
							<img src="<%= Protrack::Configuration['image_server_ip'] + "" + client_track_info_image.track_image %>" width="80" height="80" alt="<%= t :TrackInfoImage %>" />
						</a>
					</div>
				<% end %>
			<% end %>
		</div>		
		<br style="clear:both;" />

        <label><%= t :Note %>: </label>
            <%= f.text_area :note, :value => "#{@client_track.note}",rows: '3', cols: '15',  :class => "narrow", :style => "width:30% !important;", :disabled => true  %>
        <br style="clear:both;" />

        <label><%= t :timing_url %>: </label>
            <%= f.text_field :timing_url, :value => "#{@client_track.timing_url}",  :class => "narrow", :style => "width:30% !important;", :disabled => true  %>
        <br style="clear:both;" />

        <label><%= t :media_url %>: </label>
            <%= f.text_field :media_url, :value => "#{@client_track.media_url}",  :class => "narrow", :style => "width:30% !important;", :disabled => true  %>
        <br style="clear:both;" />

        <label><%= t :weather_url %>: </label>
            <%= f.text_field :weather_url, :value => "#{@client_track.weather_url}",  :class => "narrow", :style => "width:30% !important;", :disabled => true  %>
        <br style="clear:both;" />

        <label><%= t :lapVideo_url %>: </label>
            <%= f.text_field :lap_video_url, :value => "#{@client_track.lap_video_url}",  :class => "narrow", :style => "width:30% !important;", :disabled => true  %>
        <br style="clear:both;" />

        <label><%= t :schedule_pdf_url %>: </label>
            <%= f.text_field :schedule_pdf_url, :value => "#{@client_track.schedule_pdf_url.split('/').last}",  :class => "narrow", :style => "width:30% !important;", :disabled => true  %>
        <br style="clear:both;" />

		<label ></label>
		<a href="<%= url_for :action => "edit", :id => @client_track.id %>" tooltip="<%= t :Edit %>"  >
			<input class="green proccessing" type="button" value="<%= t :Edit %>" id="edit_track" tabindex="5" style="margin-top:5px;" />
		</a>
			  
		<a href="<%= url_for :action => "delete", :id => @client_track.id %>" tooltip="<%= t :Delete %>" >
			<input class="gray proccessing"  type="button" value="<%= t :Delete %>" id="delete_track" tabindex="5" />
		</a>
		
		<a href="<%= url_for :action => "index" %>" tooltip="<%= t :Index %>" >
			<input  class="red proccessing" type="button" value="<%= t :Cancel %>" id="cancel_track" tabindex="5" />
		</a>
		
	</fieldset>

<% end %>

<script type="text/javascript">
$(document).ready(function() {	
  
   $(".proccessing").click(function(){	
	  	$("#middlepart").mask("Processing...");	
	  });
	  
	$('#delete_track').click(function(){
		if(confirm("Are you sure to delete track?"))
		{
			return true;
		}
		else
		{
			$("#middlepart").unmask();	
			return false;
		}
	});
	
	 
});
</script>