<%= form_for @admin, :url =>  {:action => "update_admin_password", :id => @admin.id} do |f| %>
	
	<% if @admin.errors.full_messages.length >0 %>			
	<div class="error">
		<% @admin.errors.full_messages.each do |msg| %>		
				<p><%= msg %></p>	
		<% end %>
	</div>
	<% end %>
	
	<fieldset>
		<legend><%= t :ChangePassword %></legend>		
		
		<label><%= t :OldPassword %>: </label>
		<%= f.password_field :old_password, :class => "narrow", :style => "width:20% !important;", :required => true   %>
		<br />
		
		<label><%= t :NewPassword %>: </label>
		<%= f.password_field :new_password, :class => "narrow", :style => "width:20% !important;", :required => true   %>
		<br />
			
		<label><%= t :ConfirmPassword %>: </label>
		<%= f.password_field :confirmation_pwd, :class => "narrow", :style => "width:20% !important;", :required => true   %>		
		<br /> 
			
		<label ></label>	
		<%= submit_tag t('ChangePassword'), :value => t('ChangePassword'), :class => "green " %>					
		<input type="reset" value="<%= t :Reset %>" class="gray" id="reset_form" tabindex="5" />
				
		<a href="<%= url_for :action => "index", :controller => "dashboard" %>" tooltip="<%= t :Index %>" >
			<input type="button" class="red processing"  value="<%= t :Cancel %>" class="red" id="cancel_reset_password" tabindex="5" />
		</a>		
	</fieldset>

<% end %>

 <script type="text/javascript">
$(document).ready(function() {	
	$('.processing').click(function(){
		 $("#middlepart").mask("Processing...");	
	 });

});
 </script>