<%= form_for @client, :url =>  {:action => "update_client_password", :id => @client.id} do |f| %>
	
	<% if @client.errors.full_messages.length >0 %>			
	<div class="error">
		<% @client.errors.full_messages.each do |msg| %>		
				<p><%= msg %></p>	
		<% end %>
	</div>
	<% end %>
	
	<fieldset>
		<legend><%= t :ChangePassword %></legend>		
		
		<label><%= t :OldPassword %>: </label>
		<%= f.password_field :old_password, :class => "narrow", :style => "width:20% !important;", :required => true  %>
		<br />
		
		<label><%= t :NewPassword %>: </label>
		<%= f.password_field :new_password, :class => "narrow", :style => "width:20% !important;", :required => true   %>
		<br />
			
		<label><%= t :ConfirmPassword %>: </label>
		<%= f.password_field :confirmation_pwd, :class => "narrow", :style => "width:20% !important;", :required => true   %>		
		<br /> 
			
		<label ></label>	
		<%= submit_tag t('ChangePassword'), :value => t('ChangePassword'), :class => "green", :id => "save_password" %>					
		<input type="reset" class="gray" value="<%= t :Reset %>" id="reset_form" tabindex="5" />
				
		<a href="<%= url_for :action => "index", :controller => "dashboard" %>" tooltip="<%= t :Index %>" >
			<input type="button"  class="red processing" value="<%= t :Cancel %>" id="cancel_reset_password" tabindex="5" />
		</a>
		
	</fieldset>

<% end %>

 <script type="text/javascript">
$(document).ready(function() {	
	 $('.processing').click(function(){
		 $("#middlepart").mask("Processing...");	
	 });	 
       

});
 </script>