<%= form_for @user, :html => { :class =>'jNice'}, :url =>  {:action => "savechangedforgotpassword", :id => @user.id, :ut => params[:ut], :uval => params[:uval] } do |f| %>
	
	<% if @user.errors.full_messages.length >0 %>			
		<div class="error">
			<% @user.errors.full_messages.each do |msg| %>		
					<p><%= msg %></p>	
			<% end %>
		</div>
	<% end %>
	
	<%= hidden_field_tag '[user][user_type]', @user.user_type.to_s %>
	<%= hidden_field_tag '[user][id]', @user.id.to_s %>
	<div class="forgot_block1" style="width:50%;">
		<h3><%= t('ResetPassword') %> </h3>
		<div class="contact1">
			<%= t :NewPassword %>:
		</div>
		<div class="contact4">
			<div class="form_input">
				<span> <%= password_field_tag "[user][new_password]", "", { :style => "width:200px;" } %> </span>
			</div>
		</div>
		<br class="clear" />
		<div style="clear:both"></div>
		<div class="contact1">
			<%= t :ConfirmPassword %>:
		</div>
		<div class="contact4">
			<div class="form_input">
				<span> <%= password_field_tag "[user][confirmation_pwd]", "", {:style => "width:200px;"} %> </span>
			</div>
		</div>
		<br class="clear" />

		<div class="contact1">
			&nbsp;
		</div>
		<div style="float:left;">
			<%= link_to  t('Cancel'), {:controller => "login", :action => "index"}, :class => "btn_cancel"  %>
			<%= submit_tag t('Save'), :value => t('Save'), :class => "btn_save" %>
		</div>

	</div>
	
	<br class="clear" />

	<div class="sep"></div>
	<%= link_to  t('BackToLogin'), {:controller => "users", :action => "login"}, :class => "btn_cancel"  %>
<% end %>

