<div class="login_block1" style="width:50%;">
	
<h3><%= t('CantSignIn') + '? ' + t('ForgotYourPassword') + '?' %> </h3>
<h6><%= t('EnterYourEmailAddressBelowAndWeWillSendYouPasswordResetInstructions') %>.</h6>

<%= form_for @user, :url =>  {:action => "getforgotpassword", :id => @user.id} do |f| %>	
	<% if @user.errors.full_messages.length >0 %>			
	<div class="error">
		<% @user.errors.full_messages.each do |msg| %>		
				<p><%= msg %></p>	
		<% end %>
	</div>
	<% end %>
	
	<div><h6>User Access Type:</h6></div>
	<div>
		<div class="form_input">
			<span>
				<select id="user_type" name="[user][user_type]" tabindex="103" style="float:left;width:100px;"> 
					<option value="1">Admin </option>
					<option value="2">Client </option>
				</select>
			</span>
		</div>
	</div><br/>
	
	<div><h6 style="margin-top:15px;"><%= t :EnterEmail %>:</h6></div>
	<div>
		<div class="form_input">
			<span>
				<%= email_field_tag "[user][email]", "", {:id => 'userlogin', :style => "width:200px;", :required => true} %>			
			</span>
		</div>
	</div>

	<div style="float:left;">
			<%= submit_tag t('SendResetInst'), :value => t('SendMeResetInstrunctions'), :class => "btn_instruction" %>
	</div>


	</div>

	<div class="login_block2" style="width:40%;">
		<h4><%= t('aNoteAboutSApamFilters') %></h4>
		<h6><%= t('IfYouDontGetAnEmailFromUSWithinAFewminutesPleaeseBeSureToCheckYourSpamFilter') %>.</h6>
		<h4><%= t('TheEmailWillBeCommingFrom') %></h4>
		<h4><%= t('DoNotReplySpaceoCom') %>.</h4>
	</div>

	<br class="clear" />

	<div class="sep"></div> 

    <%= link_to  t('BackToLogin'), {:controller => "users", :action => "login_flash_clear"}, :class => "btn_cancel", :style => "margin-right:0px;"  %>		
 
 <% end %>