<%= javascript_include_tag "jquery.MultiFile.js" %>

<style>
    .MultiFile-list{
        padding-bottom: 2px;
        padding-left: 160px;
        padding-right: 0;
        padding-top: 5px;}

    .MultiFile-label{
        padding-top: 5px;
    }

</style>

<%= form_for @manage_url, :url =>  {:controller => 'users', :action => "update_manage_urls", :id => @manage_url.id}, html: { :id => "edit_manage_url", method: :put} do |f| %>

    <div id="error_div"></div>
    <% if @manage_url.errors.full_messages.length >0 %>
        <div class="error">
          <% @manage_url.errors.full_messages.each_with_index do |msg, index| %>
              <p><%= "#{index+1}) #{msg}" %></p>
          <% end %>
        </div>
    <% end %>
      <%#= flash[:notice] if flash[:notice] %>
    <fieldset>
      <legend><%= t :ManageUrls %></legend>
      <%= f.hidden_field :admin_id %>

      <label>Regulation PDF : </label>
      <%= @manage_url.regulation_pdf.split('/').last unless @manage_url.regulation_pdf.nil? %>

      <%= f.file_field :regulation_pdf, :height => "80px;", :width => "80px", :accept => "applications/pdf" %>
      <br />

      <label>Media PDF : </label>
      <%= @manage_url.media_pdf.split('/').last unless @manage_url.media_pdf.nil? %>
      <%= f.file_field :media_pdf, :height => "80px;", :width => "80px", :accept => "applications/pdf" %>
      <br />

      <label>Car Manual PDF : </label>
      <%= @manage_url.car_manual_pdf.split('/').last unless @manage_url.car_manual_pdf.nil? %>
      <%= f.file_field :car_manual_pdf, :height => "80px;", :width => "80px", :accept => "applications/pdf" %>
      <br />

      <label>Facebook URL: </label>
      <%= f.text_field :fb_url, :class => "narrow", :style => "width:30% !important; readonly:true;"  %>
      <br />

      <label>Twitter URL: </label>
      <%= f.text_field :twitter_url, :class => "narrow", :style => "width:30% !important;"  %>
      <br />

      <label>Prema URL: </label>
      <%= f.text_field :prema_url, :class => "narrow", :style => "width:30% !important;"  %>
      <br />

      <label>Formula URL: </label>
      <%= f.text_field :formula_url, :class => "narrow", :style => "width:30% !important;"  %>
      <br />

      <label ></label>
      <!--<input  class="green"  type="button" value="<%#= t :Save %>" id="edit_race_engineer_report" tabindex="4" />-->
      <%= f.submit 'Save', class: 'green', id: 'save_manage_url' %>
      <!--<input  class="green"  type="button" value="<%#= t :Save %>" id="save_session" tabindex="4" />-->
      <input  class="gray"  type="reset" value="<%= t :Reset %>" id="reset_form" tabindex="5" />

      <a href="<%= root_url %>" >
        <input  class="red proccessing"  type="button" value="<%= t :Cancel %>" id="cancel_track" tabindex="5" />
      </a>

    </fieldset>

<% end %>

<script type="text/javascript">

    $(document).ready(function(){

        var message = '<%= flash[:notice] %>'
        if(message){
            alert(message)
        }

        $("#new_race_engineer_report").ajaxStop(function(){
            $("#middlepart").unmask();
        });

        $(".proccessing").click(function(){
            $("#middlepart").mask("Processing...");
        });

        $("#reset_form").click(function(){
            $("#race_engineer_report_session_image_wrap_list").html('');
            return true;
        });

        $("#save_manage_url").click(function() {
            $("#middlepart").mask("Processing...");
        });
//            // var  oOutput = document.getElementById("new_client_track"),
//            oData = JSON.stringify($('form').serializeArray())
//            console.log(oData)
//            console.log(new FormData($('#edit_manage_url')[0]))
//            $.ajax({
//                url: '/update_manage_urls',
//                type: 'PUT',
//                dataType: 'json',
//                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
//                data: oData
//            }).done(function(oEvent) {
//                $("#error_div").html('');
//                $("#error_div").removeClass('error');
//                var data=jQuery.parseJSON(oEvent);
//                console.log(oEvent)
//                if(oEvent.resp_code == "200")
//                {
//                    $("#middlepart").unmask();
//                    alert('Manage URLs successfully updated')
//                }
//                else
//                {
//                    messages = data.message.split(",");
//                    $.each(messages,function(i){
//                        $("#error_div").append("<p>" + parseInt(i+1) + ". " + messages[i] + "</p>");
//                    });
//                    $("#error_div").addClass('error');
//                    $("#middlepart").unmask();
//                }
//            });


//			var oReq = new XMLHttpRequest();
//			oReq.open("PUT", "<%#= url_for :action => "update", id: @race_engineer_report.id %>", true);
//			oReq.onload = function(oEvent) {
//				alert('success')
//
//				$("#error_div").html('');
//				$("#error_div").removeClass('error');
//				var data=jQuery.parseJSON(oReq.response);
//				if(data.resp_code == "200")
//				{
//					window.location.href = "<%#= url_for :action => "index" %>";
//				}
//				else
//				{
//					messages = data.message.split(",");
//					$.each(messages,function(i){
////                        alert(i);
//						$("#error_div").append("<p>" + parseInt(i+1) + ". " + messages[i] + "</p>");
//					});
//					$("#error_div").addClass('error');
//					$("#middlepart").unmask();
//				}

//			};
//			oReq.send(oData);
//        });

    });
</script>