
<table cellspacing="0" cellpadding="0" width="100%" class="listing" id="transaction_listing"  >
	 <thead>
		<tr>
            <th class="capt" colspan="7">
				<%= t :TransactionHistoryReport %> 											
			</th>
			
		</tr>
		
		<tr class="ftr">				
			<th style="text-align:left;">		
				<%= t('TrackName') %>
			</th>	
			<th style="text-align:left;">		
				<%= t('ProductID') %>
			</th>	
			<th style="text-align:left;">		
				<%= t('PurchasedDate') %>
			</th>	
			<th style="text-align:left;">		
				<%= t('TransactionID') %>
			</th>	
			<th style="text-align:right;">		
				<%= t('Price') %>
			</th>	
			<th style="text-align:left;">		
				<%= t('Gateway') %>
			</th>	
			<th>		
				<%= t('Action') %>
			</th>	
		</tr>
	</thead>
	
	<% alt_row=0 %>
	<% sr_no=0 %>
	<% if @transaction.nil? || @transaction.count == 0  %>
		<tr>
			<td colspan="7" style="border: none;"><%= t :NoRecordFound %></td>
		</tr>
	<% else %>
		<% @transaction.each do |f| %>		
		<% if alt_row==0 %>
			<% alt_row=1 %>
			<tr id="node-<%= f.id %>">
		<% else %>
			<tr id="node-<%= f.id %>" class="tb_grey">
			<% alt_row=0 %>
		<% end %>				
			<td  align="center" valign="middle">	  		
			   <div id="track_name<%= f.id %>" class="" style="text-align:left;">
					<%= f.track_name %>
			   </div>   
			</td>
			<td  align="center" valign="middle">	  		
			   <div id="product_id_<%= f.id %>" class="" style="text-align:left;">
					<%= f.product_id %>
			   </div>   
			</td>
			<td  align="center" valign="middle">	  		
			   <div id="purchase_date_<%= f.id %>" class="" style="text-align:left;">
					<%= f.purchase_date %>
			   </div>   
			</td>
			<td  align="center" valign="middle">	  		
			   <div id="transaction_id_<%= f.id %>" class="" style="text-align:left;">
					<%= f.transaction_id %>
			   </div>   
			</td>
			<td  align="center" valign="middle">	  		
			   <div id="price_<%= f.id %>" class="" style="text-align:right;">
					$<%= f.price %>
			   </div>   
			</td>
			<td  align="center" valign="middle">	  		
			   <div id="gateway_<%= f.id %>" class="" style="text-align:left;">
					<%= f.gateway %>
			   </div>   
			</td>
			<td  align="center" valign="middle">	  		
			   <div id="action_<%= f.id %>" class="" style="">				
					<a class="publish processing" href="<%= url_for :action => "view_transaction" , :id => f.id %>"><%= t :View %> </a>
				</div>   
			</td>
			
		</tr>
		<% end %>	
	<% end %>	
		<tfoot>	
		<tr>	
			<th colspan="7" class="ftr">
				<div class="paging_cntr">
					<!--start  Pagination --> 
					<% if @transaction.count > 0 %>
						<div style="float:left;  margin-right:15px;"><%=  will_paginate @transaction %>
						</div>
					<% end %>
					<!-- end Pagination -->							
				</div>			
			</th>		
		</tr>
	</tfoot>	
	
	
</table>
<!-- End cs_slider -->
<%=hidden_field_tag "pageno", params[:page]%>

