<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Admin Panel</title>
<%= stylesheet_link_tag "common" %>
<%= stylesheet_link_tag "tables" %>
<%= javascript_include_tag "users" %>
<%= javascript_include_tag "jquery-1.9.1.js" %>

</head>

<body class="login">	
   <div id="wrapper">
		<!-- Header -->
			<div id="header">
				<div>
					<img src="/assets/design_images/logonew.png" width="337" height="112" class="logo" alt="ProManager V2.0" /> 
				</div>
			</div>
		<!-- Header -->
	    <!--  Menu -->
	      <div id="menu"> 
	      	<%= link_to t('login'), {:controller => "users", :action => "login"}, :class => "btn_signup_small" %>	      	 
	      </div>
	    <!--  Menu -->		     
			
		   <div style="clear:both"></div>
		
		   <!-- Content Area -->
			<div id="middlepart">
				<div id="leftcolumn" style="width:98%;">
					<% if flash[:message] %>
						<%= raw flash[:message] %>
					<% end %>
					<%= yield %>
				</div>
				
			</div>
		</div>
		<!-- Footer -->
		
</body>
</html>
